# Dart / Flutter
.dart_tool/
.packages
.pub-cache/
.pub/
build/
**/doc/api/
.flutter-plugins
.flutter-plugins-dependencies
*.iml
.idea/
.vscode/
melos_*.iml
pubspec_overrides.yaml

# OS
.DS_Store
**/Pods/
**/.symlinks/
**/Generated.xcconfig
**/Flutter/ephemeral/
